# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\FACULTATE - TEME, LUCRARI SI CURSURI\Deep Learning Specialization Coursera\Sequence Models\Generating Shakespeare Poems\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
